<div class="container">
    <h1>Please sign in</h1>
    <form>
        <div class="form-group">
            <label for="emailInput">Email address</label>
            <input ng-model="ctrl.sign_in_form.email_address" type="email" class="form-control" id="emailInput" placeholder="Enter Email">
        </div>

        <div class="form-group">
            <label for="passwordInput">Password</label>
            <input ng-model="ctrl.sign_in_form.password" type="password" class="form-control" id="passwordInput" placeholder="Password">
        </div>

        <button type="submit" class="btn btn-default pull-right" ng-click="ctrl.sign_in()">Sign in</button>
        <a ui-sref="sign-up">Don't have an account?</a>
    </form>
</div>
