<br>
<button class="btn btn-primary" style="margin-bottom: 10px" ng-click="$state.go('surveys.details.searches.create')">Add search</button>

<table class="table table-hover table-bordered">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Search Query</th>
        <th>Comments</th>
        <th>Number of Results</th>
    </tr>
    <tr ng-repeat="search in ctrl.searches">
        <td>{{search.id_}}</td>
        <td>{{search.name}}</td>
        <td>{{search.search_query}}</td>
        <td>{{search.comments}}</td>
        <td ng-if="search.are_results_uploaded">{{search.num_results}}</td>
        <td ng-if="!search.are_results_uploaded">
            <button ng-click="ctrl.run_search(search)" class="btn btn-xs btn-primary">Run search</button>
        </td>
    </tr>
</table>
