<br>
<button class="btn btn-primary" style="margin-bottom: 10px" ng-click="$state.go('surveys.details.searches.create')">Add search</button>

<table class="table table-hover table-bordered">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Search Query</th>
        <th>Comments</th>
        <th>Action</th>
    </tr>
    <tr ng-repeat="search in ctrl.searches">
        <td>{{search.id_}}</td>
        <td>{{search.name}}</td>
        <td>{{search.search_query}}</td>
        <td>{{search.comments}}</td>
        <td>
            <span ng-show="search.are_results_uploaded" class="label label-success">Successfully ran search</span>
            <button ng-show="!search.are_results_uploaded" ng-click="ctrl.run_search(search)" class="btn btn-xs btn-primary">Run search</button>
        </td>
    </tr>
</table>
